<!DOCTYPE html>
<html>
    <head>
         <link rel='icon' href="/img/favicon.ico">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Swapnil Joshi.
            It uses data from mapbox and darksky.
        </p>
        <img class="portrait" src="/img/pic.png"/>
        </div>
       {{>footer}}
    </body>
</html>